<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Soporte MaviGps
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Soporte MavGps</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
            <strong>COMANDOS GPS</strong>
            <p> MaviGPS<a target="_blank" rel="noopener noreferrer" href="www.mavigps.com">mavigps</a></p>
  </div>
</ion-content>
