<ion-header>
  <ion-toolbar>
    <ion-title>SkeletonAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center">
    <h1>Bienvenido {{ user.usuario }}</h1>
    <ion-title>Información Adicional</ion-title>
  </div>

  <!-- Segment Control -->
  <ion-segment [(ngModel)]="segmentValue">
    <ion-segment-button value="experiencia">
      Experiencia Laboral
    </ion-segment-button>
    <ion-segment-button value="certificaciones">
      Certificaciones
    </ion-segment-button>
    <ion-segment-button value="misDatos">
      Mis Datos
    </ion-segment-button>
  </ion-segment>

  <!-- Contenido de los Segmentos -->
  <div *ngIf="segmentValue == 'experiencia'">
    <app-experiencia-laboral></app-experiencia-laboral>
  </div>
  <div *ngIf="segmentValue == 'certificaciones'">
    <app-certificaciones></app-certificaciones>
  </div>
  <div *ngIf="segmentValue == 'misDatos'">
    <app-mis-datos></app-mis-datos>
  </div>

  <div class="ion-text-center ion-padding-top">
    <ion-button (click)="guardar()">Guardar</ion-button>
    <ion-button (click)="mostrarInformacion()">Mostrar Información</ion-button>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="ion-text-center">
      <p>&copy; 2023 ARIETIS. Todos los derechos reservados.</p>
      <a href="/">Inicio</a> | 
    </div>
  </ion-toolbar>
</ion-footer>
